.createTourPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background: url("https://png.pngtree.com/background/20210711/original/pngtree-simple-and-small-fresh-art-cherry-blossom-advertisement-picture-image_1094298.jpg");
    background-position: center;
    position: relative; 
  }
  
  form {
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 100%; 
  }
