.buttonBack {
    width: 250px;
    padding: 20px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid #d16b7d;
    font-size: 19px;
    color: white;
    font-weight: bolder;
    background-color: #ffc0cb;
    position: absolute;
    top: 10px;
    left: 10px;
}

.buttonCreate {
    width: 250px;
    float: right;
    padding: 20px;
    margin-right: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #d16b7d;
    font-size: 19px;
    color: white;
    font-weight: bolder;
    background-color: #ffc0cb;
}

.buttonDeleteTour {

    width: 250px;
    float: right;
    padding: 20px;
    margin-right: 10px;
    border-radius: 20px;
    border: 2px solid #d16b7d;
    font-size: 19px;
    color: white;
    font-weight: bolder;
    background-color: #ffc0cb;

}

.buttonUpdate {
    width: 250px;
    float: left;
    padding: 20px;
    margin-right: 10px;
    border-radius: 20px;
    border: 2px solid #d16b7d;
    font-size: 19px;
    color: white;
    font-weight: bolder;
    background-color: #ffc0cb;
}

.buttonDownload {
    width: 250px;
    padding: 20px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 20px;
    border: 2px solid #d16b7d;
    font-size: 19px;
    color: white;
    font-weight: bolder;
    background-color: #ffc0cb;
    position: absolute;
    top: 80px;
    left: 10px;
}


.buttonBack:hover {
    transition-duration: 0.4s;
    transform: scale(1.06);
}

.buttonCreate:hover {
    transition-duration: 0.4s;
    transform: scale(1.06);
}

.buttonDeleteTour:hover {
    transition-duration: 0.4s;
    transform: scale(1.06);
}

.buttonUpdate:hover {
    transition-duration: 0.4s;
    transform: scale(1.06);
}